<ion-view title="Search for new channels" cache-view="false">
  
  <ion-header-bar padding="true">
      <a href="#/home" class="button button-clear icon ion-chevron-left"></a>
      <h1 class="title">Search for new channels</h1>
  </ion-header-bar>
  
  <ion-header-bar class="bar-subheader bar-search">
        <div class="bar bar-header item-input-inset">
            <div class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" class="input-stretch" placeholder="Channel name" 
                    data-ng-enter="doSearch()"
                    data-ng-model="searchInput">
                <button id="clearSearch" data-ng-if="(searchInput && searchInput.length) || (channels && channels.length)"
                    class="button button-clear ion-ios-close-empty"
                    data-ng-click="doClearSearch()"></button>
            </div>
            <button id="search" class="button" data-ng-click="doSearch()">Search</button>
        </div>
  </ion-header-bar>
  
  <ion-content class="has-header padding">
      
      <div class="list card" data-ng-repeat="channel in channels track by $index">
	    
         <div class="item">
            <div class="row">
                <div class="col col-90">
                    <div class="item-avatar">
                	    <img data-ng-src="{{channel.snippet.thumbnails.default.url}}">
                        <h2>{{channel.snippet.title}}</h2>
                        <p>Publicado em : {{channel.snippet.publishedAt | date:'dd/MM/yyyy'}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="item-toggle">
                        <label class="toggle toggle-balance">
                            <input type="checkbox"
                                data-ng-model="channel.checked"
                                data-ng-change="toggleChannel(channel)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <p>{{channel.message}}</p>
                </div>
            </div>
             <div class="item-text-wrap">
                <p>{{channel.snippet.description}}</p>
            </div>
         </div>
      </div>

      <div data-ng-if="(channels !== undefined && !channels.length)" class="no-results content-center">
        <p>No Results</p>
      </div>
      
  </ion-content>
  
  <ion-footer-bar data-ng-if="channels && channels.length">
      <div class="row">
        <div class="col col-33">
            <button class="button-clear"
                data-ng-if="prevPageToken.length > 0"
                data-ng-click="doPreviousPage()">
                <i class="icon ion-arrow-left-b"></i>
            </button>
        </div>
        <div class="col col-33 content-center" style="padding-top : 25%">
            <labeld style="width : 50%" data-ng-if="currentPage">{{currentPage}} / {{totalPages}}</label>
        </div>
        <div class="col col-33">
            <button class="button-right button-clear"
                data-ng-if="nextPageToken.length > 0"
                data-ng-click="doNextPage()">
                <i class="icon ion-arrow-right-b"></i>
            </button>
        </div>
      </div>
  </ion-footer-bar>
</ion-view>