<ion-view title="Sign in">
  <ion-header-bar>
    <h1 class="title">Sign in</h1>
  </ion-header-bar>
  <ion-content class="has-header padding">
    <form>
        <ion-list>
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" placeholder="enter username..." ng-model="data.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" placeholder="At least 6 characters" ng-model="data.password">
            </label>
            <label class="item">
              <button class="button button-block button-assertive" type="submit" ng-click="doSignin()">Sign in</button>
            </label>
        </ion-list>
    </form>
  </ion-content>
</ion-view>