/* Empty. Add your own CSS if you like */
.has-error {
    border-color: red;
}

.row {
    padding: 0px;
}

.col{
    padding: 0px;
}

.bar-search {
    height: 49px;
}

.button-right {
    float: right;    
}